input.deepl-button,input.google-button,input.openai-button,input.geminiai-button,input.claudeai-button {
    display: none !important;
}
input.deepl-button+span {
    position: relative !important;
    top: 0px !important;
    background: url(../Icons/actions-localize-deepl.svg) !important;
    background-size: contain !important;
    height: 20px !important;
    width: 26px !important;
    display: inline-block !important;
    padding: 0 0 0 0 !important;
    margin-top: 0 !important;
    background-repeat: no-repeat !important;
    opacity: .5 !important;
    margin-bottom: 5px;
}
input.deepl-button:checked+span {
    position: relative !important;
    top: 0px !important;
    background: url('../Icons/actions-localize-deepl.svg') !important;
    background-size: contain !important;
    height: 20px !important;
    width: 26px !important;
    display: inline-block !important;
    padding: 0 0 0 0 !important;
    margin-top: 0 !important;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
    margin-bottom: 5px;
}

input.google-button+span {
    position: relative !important;
    top: 0px !important;
    background: url(../Icons/actions-localize-google.svg) !important;
    background-size: contain !important;
    height: 20px !important;
    width: 26px !important;
    display: inline-block !important;
    padding: 0 0 0 0 !important;
    margin-top: 0 !important;
    background-repeat: no-repeat !important;
    opacity: .5 !important;
    margin-bottom: 5px;
}
input.google-button:checked+span {
    position: relative !important;
    top: 0px !important;
    background: url(../Icons/actions-localize-google.svg) !important;
    background-size: contain !important;
    height: 20px !important;
    width: 26px !important;
    display: inline-block !important;
    padding: 0 0 0 0 !important;
    margin-top: 0 !important;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
    margin-bottom: 5px;
}

input.openai-button+span {
    position: relative !important;
    top: 0px !important;
    background: url(../Icons/actions-localize-openai.svg) !important;
    background-size: contain !important;
    height: 20px !important;
    width: 26px !important;
    display: inline-block !important;
    padding: 0 0 0 0 !important;
    margin-top: 0 !important;
    background-repeat: no-repeat !important;
    opacity: .5 !important;
    margin-bottom: 5px;
}
input.openai-button:checked+span {
    position: relative !important;
    top: 0px !important;
    background: url(../Icons/actions-localize-openai.svg) !important;
    background-size: contain !important;
    height: 20px !important;
    width: 26px !important;
    display: inline-block !important;
    padding: 0 0 0 0 !important;
    margin-top: 0 !important;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
    margin-bottom: 5px;
}

input.geminiai-button+span {
    position: relative !important;
    top: 0px !important;
    background: url(../Icons/google-gemini-icon.svg) !important;
    background-size: contain !important;
    height: 20px !important;
    width: 26px !important;
    display: inline-block !important;
    padding: 0 0 0 0 !important;
    margin-top: 0 !important;
    background-repeat: no-repeat !important;
    opacity: .5 !important;
    margin-bottom: 5px;
}
input.geminiai-button:checked+span {
    position: relative !important;
    top: 0px !important;
    background: url(../Icons/google-gemini-icon.svg) !important;
    background-size: contain !important;
    height: 20px !important;
    width: 26px !important;
    display: inline-block !important;
    padding: 0 0 0 0 !important;
    margin-top: 0 !important;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
    margin-bottom: 5px;
}

input.claudeai-button+span {
    position: relative !important;
    top: 0px !important;
    background: url(../Icons/actions-localize-claudeai.svg) !important;
    background-size: contain !important;
    height: 20px !important;
    width: 26px !important;
    display: inline-block !important;
    padding: 0 0 0 0 !important;
    margin-top: 0 !important;
    background-repeat: no-repeat !important;
    opacity: .5 !important;
    margin-bottom: 5px;
}
input.claudeai-button:checked+span {
    position: relative !important;
    top: 0px !important;
    background: url(../Icons/actions-localize-claudeai.svg) !important;
    background-size: contain !important;
    height: 20px !important;
    width: 26px !important;
    display: inline-block !important;
    padding: 0 0 0 0 !important;
    margin-top: 0 !important;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
    margin-bottom: 5px;
}
.deepl-btn-wrap {
    padding: 0;
}
.module-deepl {
    font-family: 'Open Sans', sans-serif !important;
}
body {
    margin: 0;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.module-header {
    height: 65px;
    /*border-bottom: #c3c3c3 1px solid;
    background-color: #eee*/}
.module-header img {
    /*margin-top: 15px*/}
.languageAssigned {
    width: 75px;
    padding: 7px;
}
span.ai-span {
    margin-bottom: -7px !important;
}
label.deepl-btn-wrap span.ai-span {
    width: 16px !important;
    height: 16px !important;
    margin-bottom: 0px !important;
}
label.deepl-btn-wrap {
    box-shadow: none;
    display: inline-flex;
    padding: 0.375rem;
    border: 1px solid #bbbbbb;
    border-left: none;
    border-start-start-radius: 0px;
    border-end-start-radius: 0;
}